textarea {
    min-height: 400px;
}
#emails-view{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 90%;
}
#emails-view div{
    
    height: 5vh;
    border-radius: 0.5vh;
    display: flex;
    justify-content: center;
    gap: 250px;
    
}
#emails-view div p {
    margin-left: 10px;
}
#compose-body{
    height: 30vh;
}
#view-body{
    height: 30vh;
}

